@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100;200;400;500;700&display=swap');
/* VARIABLES IN HTML: */
:root {
    --light: #eae9fa;
    --medium: rgb(154, 165, 190);
    --dark: rgb(63, 68, 109);
    --black: rgb(17, 17, 38);
    --obs: #ef561f;
    --send: rgb(62, 129, 57);
}
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--light);                       /*IF I USE THE BACKGROUND COLOR*/
} 

#modal{
    height: 50vh;
    width: 50vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

dialog::backdrop{
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
}
#title{
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    padding: 4px 8px;
    border-radius: 3px;
    opacity: 0.2;
}
#modal:hover #title{
    opacity: 1;
}

/* ----------FOOTER------------------------------------------------- */
footer{
    background-color: var(--dark);
    color: var(--medium);
    padding: 4rem;
    position: relative;
}
footer figure{
    width: 250px;
    margin: auto;
}
footer figure img{
    width: 100%;
    cursor: pointer;
    filter: brightness(0.8);
}
footer figure img:hover{
    filter: contrast(1) brightness(1);
}
footer #dialogForm{
    border: none;
    border-radius: 20px;
    background-color: var(--light);
}
footer #dialogForm form #fieldsetFooter{
    display: flex;
    flex-direction: column;
    border: none;
}
footer #dialogForm form #fieldsetFooter span{
    position: absolute;
    top: 0;
    right: 15px;
    width: 20px;
    padding: 5px;
    font-family: 'Smooch Sans';
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    color: var(--dark);
    cursor: pointer;

}
footer #dialogForm form #fieldsetFooter h3{
    font-family: 'Smooch Sans';
    font-size: 2em;
    font-weight: 500;
    color: var(--dark);
    margin-top: 0;
}
footer #dialogForm form #fieldsetFooter input{
    margin-bottom: 1rem;
}
footer #dialogForm form #fieldsetFooter label[for=navn],
footer #dialogForm form #fieldsetFooter label[for=email]{
    font-family: 'Smooch Sans';
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing:2px;
}
footer #dialogForm form #fieldsetFooter input[type=checkbox]{
    width: 10px;
}
footer #dialogForm form #fieldsetFooter label[for=nyhedsbrev]{
    font-family: 'Smooch Sans';
    font-weight: 500;
    font-size: 1.3em;  
}


